.container {
    display: flex;
    flex-direction: column;

    .contentWrapper {
        padding: 32px;
    }

    @media (min-width: 769px) and (max-width: 1024px) {
        .contentWrapper {
            padding: 24px;
        }
    }

    @media (max-width: 768px) {
        .contentWrapper {
            padding: 16px;
        }
    }
}