.itemWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 16px;
    width: 100%;

    .span {
        color: #67727E;
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
    }
}

.dotsImage {
    padding: 4px;
    border-radius: 24px;
}

.dotsImage:hover {
    background: #313249;
}